.project-description {
  font-size: 24px;
  font-weight: 300;
}

.fw-300{
  font-weight: 300;
}

.mv32 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.pull-left {
  float: left;
}

.pull-right{
  float: right;
}

.mr12 {
  margin-right: 12px;
}