@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Serif:wght@700&display=swap');
html, * {
  font-family: 'Noto Sans', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Noto Serif', serif;
}

.project-description {
  font-size: 24px;
  font-weight: 300;
}

.fw-300{
  font-weight: 300;
}

.mv32 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.pull-left {
  float: left;
}

.pull-right{
  float: right;
}

.mr12 {
  margin-right: 12px;
}